<div id="wrapper">
  <h1>thehardtimes/emo-screamo scraper</h1>
  <h2><i>If you can do this...the homework should be no problem.</i></h2>
  <div id="articles">
    {{#each articles}}
    <h3>{{title}}</h3>
    <p>{{summary}}</p>
    <a href={{link}}>Article Link</a>
    {{/each}}
  </div>
  <div id="notes">

  </div>
</div>